body {
    font-family: Titillium Web;
    background-color: #D9AC38;
    color: #4338D9; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster";
    font-size: 40pt;
    text-align:center;
}
h1 {
    font-size: 40pt;
}
header {
    text-align: center;
}

#hero,footer {
    color: #D9D338;
    border: 2px solid #4338D9;
    background-color: #454459;
    text-align: center;
    padding: 10px;
}


#hero img {
    width: 300px;
}

#bio {
    text-align: center;
    
    #hobbies ul li:nth-child(even) {
        color: azure;
    }

#gallery {
        border: 2px solid #4338D9;
    }

 #gallery img {
        max-width: 40%;
    }

#gallery figure {
        text-align: center;
    }
}