body {
    font-family: Titillium Web;
    background-color: #A08AB3;
    color: #4338D9; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster";
    font-size: 40pt;
    text-align:center;
}
h1 {
    font-size: 40pt;
}
h2 {
    margin: 0.1em;
}
header {
    text-align: center;
}

#hero,footer {
    color: #D9D338;
    border: 2px solid #4F415C;
    background-color: #454459;
    text-align: center;
    padding: 10px;
}


#hero img {
    width: 300px;
}

#bio {
    text-align: center;

}
section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;

    #hobbies ul li:nth-child(even) {
        color: azure;
    }
}

#gallery {
        border: 2px solid #4F415C;
    }

 #gallery img {
        max-width: 35%;
    }

#gallery figure {
        text-align: center;
    }

    #lit {
        border: 2px solid #454459;
        margin-bottom: 2rem;

    }

    #lit div {
        padding:2rem;
        max-width: 40rem;
        margin: 0 auto;
    }

    #lit div p:first-letter {
        color: white;
        float: left;
        font-size:3rem;
        
        


    }
    /* tablet size */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    figure img{
        width: 100%;
    }

    #lit div{
        max-width: 100%;
        columns: 20rem;
    }

    /* large screen size */

    @media screen and (min-width: 100em) {
        #gallery {
            display: grid;
            grid-template-columns: 1 fr 1fr 1fr;
        }
        
    }

    hr {
        display: none;

    }

    #gallery h2 {
        grid-column: 1/-1;
    }

} 

/* Contact Form */

#formElements {
    display:grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #4F415C;
    margin-top:1em;
    margin-bottom:1em;
}

legend {
    background-color: #4F415C;
    color: white;
    padding:.5em;
}
#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}

#contact ul {
    list-style: none;
    padding:0px;
}
#contact li {
    margin:1rem;
}

#contact button {
    background-color: #4F415C;
    color: white;
    border: 1px solid #454459;
    max-width: 400px;
    width:50%;
    justify-self: center;
}
